@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Ann Stephen<br />
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ann.stephen.99@gmail.com">ann.stephen.88@gmail.com</a><br />
</address>