@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<address>
   Ann Stephen<br />
    <a href="mailto:ann.stephen.88@gmail.com">ann.stephen.88@gmail.com</a><br />
    <a href="https://github.com/annstephen/ElectronicColorCode" target="_blank">Github Repository</a><br />
</address>